body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-box {
    width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.quiz-box h1 {
    text-align: center;
    margin-bottom: 25px;
}

#studentForm {
    display: flex;
    flex-direction: column;
}

.section-options {
    margin-top: 5px;
    margin-bottom: 20px;
}

.section-label {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    margin-bottom: 10px;
}

#startQuiz {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 5px;

    background-color: #007bff;
    color: white;

    font-size: 16px;
}